@import '../../styles/variables.scss';

.chapter {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 20px 0;
  div {
    &.chapter_actions {
      width: max-content;
      margin: auto;
      .toggle {
        background-color: rgba(255, 255, 255, 0.9);
      }
      .MuiIconButton-root {
        &:first-child {
          color: var(--color-text);
        }
      }
    }
  }
  .navigate {
    display: flex;
    justify-content: space-between;
    .button {
      min-width: 64px;
    }
  }
  .title {
    a {
      font-size: 14px;
    }
    h2 {
      margin: 0;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    p {
      margin: 0;
      &.cn {
        letter-spacing: 1px;

        span {
          cursor: pointer;
        }
      }
    }

    @for $i from 2 through 12 {
      .fs-#{$i} {
        font-size: 0.25rem * $i;
      }
    }
  }
}

.fontSize {
  display: flex;
}

.def {
  display: flex;
  flex-direction: column;
  span {
    &:first-child {
      border-bottom: 1px solid var(--color-border);
      text-align: center;
      padding-bottom: 2px;
    }
    &:last-child {
      padding-top: 2px;
    }
  }
}

.cn-box {
  background-color: var(--color-box);
  border-radius: 5px;
}

.comments {
  & > ul {
    list-style-type: none;
    padding-left: 0;
    & > li {
      padding: 0.5rem;
      border-bottom: 1px solid var(--color-border);
      &:last-child {
        border-bottom: 0;
      }
    }
    .flex-center {
      padding: 0.75rem;
      display: flex;
      justify-content: center;
    }
    h4 {
      margin: 0;
    }
  }
}
